.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  animation: main 0.3s linear forwards;
}
.wrapper {
  width: 300px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  animation: wrapper 0.3s linear forwards;
}
h1 {
  background-color: black;
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn {
  border: 1px solid red;
  width: 150px;
  background-color: red;
  color: white;
  font-weight: 700;
  margin: 10px 0;
}
@keyframes main {
  0% {
    background-color: none;
  }
  100% {
    background-color: rgba(128, 128, 128, 0.466);
  }
}
@keyframes wrapper {
  0% {
    transform: scaleX(0);
  }
  75% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}
